export ELASTICSEARCH_URL={{ elasticsearch_url }}
export POSTGRESQL_USER={{ postgresql_user }}
export POSTGRESQL_PASSWORD={{ postgresql_password }}
export POSTGRESQL_HOST={{ postgresql_host }}
export POSTGRESQL_PORT={{ postgresql_port }}
