frontend dci-in
{% if ssl_enabled | default(false) | bool %}
  bind *:443 ssl crt {{ dci_haproxy_sslcertificatefile }} alpn h2,http/1.1
  http-request redirect scheme https unless { ssl_fc }
{% endif %}
  bind *:80

  option httpslog

  # Include some headers in the logs
  capture request header X-Forwarded-For len 15
  capture request header Referer len 30
  capture request header User-Agent len 50

  # Extract authorization type & user-id  and include them in the logs
  http-request set-var(txn.auth_type) http_auth_type
  http-request set-var(txn.user_id) http_auth_user if { http_auth_type -m str Basic }
  http-request set-var(txn.user_id) http_auth_bearer,jwt_payload_query('$.sub') if { http_auth_type -m str Bearer }
  http-request set-var(txn.auth_type) req.hdr(authorization,1),word(1,\ ) if !{ http_auth_type -m found }{ req.hdr_cnt(authorization) gt 0 }
  http-request set-var(txn.user_id) req.hdr(authorization,1),word(2,=) if { var(txn.auth_type) -m sub HMAC }
  http-request capture var(txn.auth_type) len 15
  http-request capture var(txn.user_id) len 80

  # https://docs.haproxy.org/3.0/configuration.html#4-monitor-uri
  # Could be enhanced with `monitor fail`, e.g.
  # |> monitor fail if { nbsrv(webservers) eq 0 }
  monitor-uri /healthcheck

{% if "dci_api" in group_names %}
  use_backend dci-api if { req.hdr(host) -m str api.distributed-ci.io }
{% endif %}
{% if "dci_ui" in group_names %}
  use_backend dci-ui if { req.hdr(host) -m str distributed-ci.io www.distributed-ci.io }
{% endif %}
{% if "dci_doc" in group_names %}
  use_backend dci-doc if { req.hdr(host) -m str doc.distributed-ci.io docs.distributed-ci.io }
{% endif %}
{% if "dci_blog" in group_names %}
  use_backend dci-blog if { req.hdr(host) -m str blog.distributed-ci.io }
{% endif %}
{% if "dci_packages" in group_names %}
  use_backend dci-packages if { req.hdr(host) -m str packages.distributed-ci.io }
{% endif %}

# Backends are defined in separate files
