# Vars for Kafka

KAFKA_BOOTSTRAP_SERVERS={{ dci_umb_kafka_bootstrap_servers | join(",") }}
KAFKA_CONSUMER_TOPICS={{ dci_umb_kafka_consumer_topics | join(",") }}
KAFKA_CONSUMER_GROUP_ID={{ dci_umb_kafka_consumer_group_id }}
KAFKA_AUTO_OFFSET_RESET={{ dci_umb_kafka_auto_offset_reset }}
KAFKA_SASL_USERNAME={{ dci_umb_kafka_sasl_username }}
KAFKA_SASL_PASSWORD={{ dci_umb_kafka_sasl_password }}
KAFKA_SASL_MECHANISM={{ dci_umb_kafka_sasl_mechanism }}
KAFKA_SECURITY_PROTOCOL={{ dci_umb_kafka_security_protocol }}
DCI_FEEDER_URL={{ dci_umb_kafka_feeder_url }}
