# Deprecated vars for UMB

KEY_FILE_PATH={{ dci_umb_key_file_path }}
CRT_FILE_PATH={{ dci_umb_crt_file_path }}
CA_FILE_PATH={{ dci_umb_ca_file_path }}
BROKERS={{ dci_umb_brokers }}
TOPIC_SOURCES={{ dci_umb_topic_sources | join(" ") }}
HTTP_DESTINATION_HOSTS={{ dci_umb_destination_urls | join(" ") }}

# New vars for Kafka

KAFKA_BOOTSTRAP_SERVERS={{ dci_umb_kafka_bootstrap_servers | join(",") }}
KAFKA_CONSUMER_TOPICS={{ dci_umb_kafka_consumer_topics | join(",") }}
KAFKA_CONSUMER_GROUP_ID={{ dci_umb_kafka_consumer_group_id }}
KAFKA_ENABLE_AUTO_COMMIT={{ dci_umb_kafka_enable_auto_commit }}
KAFKA_AUTO_OFFSET_RESET={{ dci_umb_kafka_auto_offset_reset }}
KAFKA_SASL_USERNAME={{ dci_umb_kafka_sasl_username }}
KAFKA_SASL_PASSWORD={{ dci_umb_kafka_sasl_password }}
KAFKA_SASL_MECHANISM={{ dci_umb_kafka_sasl_mechanism }}
KAFKA_SECURITY_PROTOCOL={{ dci_umb_kafka_security_protocol }}
DCI_FEEDER_URL={{ dci_umb_kafka_feeder_url }}
