---
- name: Setup firewalld for dci-analytics
  ansible.builtin.import_tasks: firewalld.yml

- name: Create environment file used by the dci-analytics container
  template:
    src: "dci-analytics.env.j2"
    dest: "/etc/dci-analytics.env"
    mode: 0640
  notify:
    - Restart dci-analytics container
    - Restart dci-analytics-worker container

- name: Ensure rabbitmq's data directory is created
  file:
    path: /opt/rabbitmq/data
    state: directory
    mode: '0755'

- name: Install dci-analytics unit files
  copy:
    src: "{{ item }}"
    dest: "/usr/lib/systemd/system/{{ item }}"
  loop:
    - dci-analytics-sync.service
    - dci-analytics-sync.timer
    - dci-analytics.service
    - dci-analytics-worker.service
    - dci-rabbitmq.service
  notify:
    - Reload systemd for dci-analytics
    - Restart dci-analytics container
    - Restart dci-analytics-sync timer
    - Restart dci-analytics-worker container
    - Restart dci-rabbitmq container

- name: Flush handlers
  meta: flush_handlers

- name: Make sure dci-analytics services are enabled
  systemd:
    name: "{{ item }}"
    enabled: yes
    state: started
  loop:
    - dci-analytics.service
    - dci-analytics-sync.timer
    - dci-analytics-sync.service
    - dci-analytics-worker.service
    - dci-rabbitmq.service

- name: Update dci-analytics container with podman auto-update
  ansible.builtin.shell: podman auto-update
